body {
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
  color: #f2f2f2;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
  padding: 0;
  margin: 0;
}

/* Link */
.link{
  color: #7e859c;
  text-decoration: none;
  transition: all 0.3s ease;
}

.link:hover{
  color: #5d6271;
}

.link:active{
  color: #4c505d;
}

/* Intro */
.intro{
  display: block;
  position: absolute;
  z-index: 9999;
  opacity: .95;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: black;
}

.intro__container{
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.intro__title{
  font-size: 4rem;
  margin-bottom: 20px;
  color: #c40000;
  text-shadow: 0 0 10px rgb(91, 10, 10);
  margin: 0;
  padding: 0;
  animation: intro__title-animation 1s ease-out;
}

.intro__description{
  font-size: 1rem;
  line-height: 2;
  color: #8a8a8a;
  margin-top: 20px;
  padding: 0;
  animation-fill-mode: backwards;
  margin-top: 20px;
}

.intro__link{
  margin-top: 2dvh;
}

.intro__button{
  border: none;
  margin-top: 50px;
  border-radius: 15px;
  font-size: 25px;
  font-weight: bold;
  background-color: #7e859c;
  color: rgb(154, 17, 17);
  padding: 20px 20px;
  transition: all 0.3s ease;
}

.intro__button:hover{
  background-color: #c40000;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 20px red;
  transform: scale(1.05);
}

.intro__button:active{
  transform: scale(0.95);
}

@media (max-width: 1440px){
  .intro__title{
    font-size: 30px;
  }

  .intro__description{
    font-size: 10px;
  }

  .intro__link{
    font-size: 8px;
  }

  .intro__button{
    font-size: 20px;
    padding: 20px;
  }
}

/* --- Header --- */
.header__container {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  z-index: 1000;
  align-items: center;
  position: relative;
  animation: header__container-animation 1s ease-out;
  padding: 20px;

  @media (max-width: 800px) {
    padding: 25px;
    transform: translateY(10px);
  }
}

.points{
  font-size: 20px;
  color: #a72929;
  font-weight: bolder;
}

.header__menu {
  display: inline-block;
  cursor: pointer;
  width: 35px;
  height: 25px;
  position: relative;
}

/* Menu Nav */
.header__nav{
  display: none;
  z-index: 10000;
  background-color: #0000;
  position: absolute;
  top: 0;
  padding: 15px;
  transform: translateY(-100px);
  opacity: 0;
  font-size: 20px;
}

.nav__btn{
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  color: rgb(0, 0, 0);
  background-color: #d1d1d1;
  cursor: pointer;
  transition: all .3s;
}

.light-btn{
  display: block;
}

.light-btn:hover{
  color: rgb(175, 188, 0);
  outline: 1px solid rgb(133, 132, 132);
  background-color: #484848;
}

.light-btn:active{
  color: rgb(222, 243, 0);
  outline: 1px solid rgb(255, 250, 250);
  background-color: #000000;  
}

#toggle-dark{
  display: none;
}

.dark-btn:hover{
  outline: 1px solid rgb(133, 132, 132);
  color: rgb(8, 5, 88);
  background-color: #767389;
}

.dark-btn:active{
  color: rgb(0, 62, 137);
  outline: 1px solid rgb(255, 250, 250);
  background-color: #0e0e0f;  
}

.showed{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  flex-direction: row;
  z-index: 9999;
  transform: translateY(0px);
  opacity: 1;
}

@media (max-width: 800px) {
  .showed{
    flex-direction: column;
    gap: 20px;
  }
}

/* Menu */
.line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #cf1e1e;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.line1 {
  top: 0;
}
.line2 {
  top: 11px;
}
.line3 {
  bottom: 0;
}

.header__menu.active .line1 {
  transform: rotate(50deg);
  top: 11px;
}

.header__menu.active .line2 {
  opacity: 0;
}

.header__menu.active .line3 {
  transform: rotate(-50deg);
  bottom: 11px;
}

/* Buttons */
.button{
  bottom: 50px;
  z-index: 9998;
  position: absolute;
  background-color: rgb(176, 36, 36);
  box-shadow: 0 0 20px rgb(144, 30, 30);
  padding: 50px;
  border-radius: 50px;
  transition: all .3s;


  @media (max-width: 800px) {
      bottom: 30px;
  }
}

.button:hover{
  transform: scale(1.05);
  cursor: pointer;
}

.button:active{
  transform: scale(1.00);
}

.task-button{
  left: 150px;
}

.task-button::before{
  content: "";
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 30px;
  width: 40px;
  aspect-ratio: 1;
  background: url('../img/list.svg') no-repeat center/100%;
}

@media (max-width: 768px) {
  .task-button{
    padding: 30px;
    left: 100px;
  }

  .task-button::before{
    width: 30px;
    top: 15px;
  }
}

.geo-button{
  margin-left: 20px;
}

.geo-button::before{
  content: "";
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 30px;
  width: 40px;
  aspect-ratio: 1;
  background: url('../img/loc-arrow.svg') no-repeat center/100%;
}

@media (max-width: 768px) {
  .geo-button{
    padding: 30px;
  }

  .geo-button::before{
    width: 30px;
    top: 15px;
  }
}

.brekkeparken-button{
  right: 30px;
}

.brekkeparken-button:active{
  transform: scale(1.00);
}

.brekkeparken-button::before{
  content: "";
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 30px;
  width: 40px;
  aspect-ratio: 1;
  background: url('../img/home.svg') no-repeat center/100%;
}
  
@media (max-width: 768px) {
  .brekkeparken-button{
    padding: 30px;
  }

  .brekkeparken-button::before{
    width: 30px;
    top: 15px;
  }
}

/* --- Task Popup --- */
#task-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(20, 20, 20, 0.95);
  color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.6);
  z-index: 1000;
  width: 300px;
  text-align: center;
  font-family: system-ui, sans-serif;
}

#task-popup h2 {
  font-size: 18px;
  margin-bottom: 15px;
}

#task-popup input {
  width: 80%;
  padding: 8px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  font-size: 14px;
}

#task-popup button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: #ff4444;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

#task-popup button:hover {
  background-color: #ff6666;
}

/* --- Sidebar --- */
.sidebar {
  display: none;
  position: absolute;
  top: 100px;
  padding: 20px;
  left: 50%;
  transform: translate(-50%);
  width: 500px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #f2f2f2;
  border-radius: 20px;
  font-family: system-ui, sans-serif;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 1000;



  @media (max-width:800px) {
    max-width: 350px;
  }
}

.sidebar-showed{
  display: block;
  animation: fade-in .256s ease-in-out;
}


.points:not(:last-child) {
  font-size: 16px;
  margin-bottom: 10px;
}

#sidebar ul#task-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#sidebar ul#task-list li {
  padding: 5px 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
}

#task-description{
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}


.correct{ 
  color: rgb(65, 243, 65);
}

.wrong{
  color: rgb(201, 6, 6);
}


/* Animation */
@keyframes intro__title-animation {
  0% {
    opacity: 0; 
  }
  100% {
    opacity: 1;  
  }
}


@keyframes fade-in {
  from { 
    opacity: 0;
  }
  to { 
    opacity: 1;
  }
}

.pulse{
  filter: drop-shadow(0 0 10px red);
}


/* Leaflet */
#map {
  width: 100%;
  height: 92vh;
  margin: 0 auto;
  overflow: hidden;
  

  @media (max-width: 800px) {
    width: 100%;
    height: 80vh;
    overflow: auto;
  }
}

.leaflet-popup-content-wrapper {
  background-color: #111;
  color: #fff;
  box-sizing: border-box;
  border: 0.2px solid #444;
  box-shadow: 0 0 20px red;
}

.leaflet-popup-content img {
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}


.leaflet-marker-icon{
  position: absolute;
  background: url('../img/marker.png') no-repeat center;
  background-size: contain !important; 
}


.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(90%) hue-rotate(180deg) brightness(80%) contrast(85%);
}


.leaflet-control-attribution,
.leaflet-control{
  display: none;
}